* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Sections */
section {
    max-width: 900px;
    margin: 25px auto;
    padding: 25px;
    background: rgb(219, 15, 15);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #4facfe;
    margin-bottom: 15px;
}

/* Profile Picture */
.profile-pic {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #4facfe;
    object-fit: cover;
}

/* Skills & Hobbies */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    flex: 1 1 200px;
    background: #0874d3;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #c90425;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Video */
video {
    width: 100%;
    border-radius: 10px;
}

/* Contact */
.contact-box {
    text-align: center;
    background: #eaf6ff;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}